<section class="bh2e-attribute-list">
    <table class="bh2e-attribute-table">
        <thead>
            <tr>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.strength.short"}}</span>
                </th>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.dexterity.short"}}</span>
                </th>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.constitution.short"}}</span>
                </th>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.intelligence.short"}}</span>
                </th>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.wisdom.short"}}</span>
                </th>
                <th>
                    <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.charisma.short"}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.strength" value="{{system.attributes.strength}}" />
                </td>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.dexterity" value="{{system.attributes.dexterity}}" />
                </td>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.constitution" value="{{system.attributes.constitution}}" />
                </td>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.intelligence" value="{{system.attributes.intelligence}}" />
                </td>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.wisdom" value="{{system.attributes.wisdom}}" />
                </td>
                <td class="bh2e-attribute-cell">
                    <input type="number" name="system.attributes.charisma" value="{{system.attributes.charisma}}" />
                </td>
            </tr>
        </tbody>
    </table>
</section>
