<section class="bh2e-cs-attributes-section">
    <div class="bh2e-cs-portrait">
        <center>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="96" width="96"/>
        </center>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.strength.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="strength" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.strength" value="{{data.attributes.strength}}" />
        </div>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.dexterity.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="dexterity" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.dexterity" value="{{data.attributes.dexterity}}" />
        </div>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.constitution.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="constitution" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.constitution" value="{{data.attributes.constitution}}" />
        </div>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.intelligence.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="intelligence" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.intelligence" value="{{data.attributes.intelligence}}" />
        </div>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.wisdom.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="wisdom" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.wisdom" value="{{data.attributes.wisdom}}" />
        </div>
    </div>

    <div class="bh2e-attribute-container">
        <div class="bh2e-attribute-header-container">
            <center>
                <span class="bh2e-attribute-header">{{localize "bh2e.fields.labels.attributes.charisma.short"}}</span>
                <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttributeTest"}}">
                    <i class="fas fa-dice-d20 bh2e-roll-attribute-test-icon" data-attribute="charisma" data-id="{{actor._id}}" ></i>
                </a>
            </center>
        </div>
        <div class="bh2e-attribute-value-container">
            <input style="text-align: center;" type="number" name="data.attributes.charisma" value="{{data.attributes.charisma}}" />
        </div>
    </div>
</section>
