<div class="bh2e-prayers-tab bh2e-tab-content bh2e-hidden">
{{#hasPrayers1}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level1"}}</h3>
    <hr>
    {{#prayers1}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers1}}
{{/hasPrayers1}}

{{#hasPrayers2}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level2"}}</h3>
    <hr>
    {{#prayers2}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers2}}
{{/hasPrayers2}}

{{#hasPrayers3}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level3"}}</h3>
    <hr>
    {{#prayers3}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers3}}
{{/hasPrayers3}}

{{#hasPrayers4}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level4"}}</h3>
    <hr>
    {{#prayers4}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers4}}
{{/hasPrayers4}}

{{#hasPrayers5}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level5"}}</h3>
    <hr>
    {{#prayers5}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers5}}
{{/hasPrayers5}}

{{#hasPrayers6}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level6"}}</h3>
    <hr>
    {{#prayers6}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers6}}
{{/hasPrayers6}}

{{#hasPrayers7}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level7"}}</h3>
    <hr>
    {{#prayers7}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers7}}
{{/hasPrayers7}}

{{#hasPrayers8}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level8"}}</h3>
    <hr>
    {{#prayers8}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers8}}
{{/hasPrayers8}}

{{#hasPrayers9}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level9"}}</h3>
    <hr>
    {{#prayers9}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers9}}
{{/hasPrayers9}}

{{#hasPrayers10}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level10"}}</h3>
    <hr>
    {{#prayers10}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers10}}
{{/hasPrayers10}}
</div>
