<div class="bh2e-spells-tab bh2e-tab-content bh2e-hidden">
{{#hasSpells1}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level1"}}</h3>
    <hr>
    {{#spells1}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells1}}
{{/hasSpells1}}

{{#hasSpells2}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level2"}}</h3>
    <hr>
    {{#spells2}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells2}}
{{/hasSpells2}}

{{#hasSpells3}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level3"}}</h3>
    <hr>
    {{#spells3}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells3}}
{{/hasSpells3}}

{{#hasSpells4}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level4"}}</h3>
    <hr>
    {{#spells4}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells4}}
{{/hasSpells4}}

{{#hasSpells5}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level5"}}</h3>
    <hr>
    {{#spells5}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells5}}
{{/hasSpells5}}

{{#hasSpells6}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level6"}}</h3>
    <hr>
    {{#spells6}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells6}}
{{/hasSpells6}}

{{#hasSpells7}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level7"}}</h3>
    <hr>
    {{#spells7}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells7}}
{{/hasSpells7}}

{{#hasSpells8}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level8"}}</h3>
    <hr>
    {{#spells8}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells8}}
{{/hasSpells8}}

{{#hasSpells9}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level9"}}</h3>
    <hr>
    {{#spells9}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells9}}
{{/hasSpells9}}

{{#hasSpells10}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level10"}}</h3>
    <hr>
    {{#spells10}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells10}}
{{/hasSpells10}}
</div>
