<div class="bh2e-weapon-entry">
	<div>{{name}}</div>
	<div>
	    {{#if (eq data.kind "melee")}}
	        {{localize "bh2e.weapons.kinds.melee"}}
	    {{/if}}
	    {{#if (eq data.kind "ranged")}}
	        {{localize "bh2e.weapons.kinds.ranged"}}
	    {{/if}}
	    {{#if (eq data.kind "unarmed")}}
	        {{localize "bh2e.weapons.kinds.unarmed"}}
	    {{/if}}
	</div>
	<div>
	    {{#if (eq data.attribute "strength")}}
	        {{localize "bh2e.fields.labels.attributes.strength.long"}}
	    {{/if}}

	    {{#if (eq data.attribute "dexterity")}}
	        {{localize "bh2e.fields.labels.attributes.dexterity.long"}}
	    {{/if}}

	    {{#if (eq data.attribute "constitution")}}
	        {{localize "bh2e.fields.labels.attributes.constitution.long"}}
	    {{/if}}

	    {{#if (eq data.attribute "intelligence")}}
	        {{localize "bh2e.fields.labels.attributes.intelligence.long"}}
	    {{/if}}

	    {{#if (eq data.attribute "wisdom")}}
	        {{localize "bh2e.fields.labels.attributes.wisdom.long"}}
	    {{/if}}

	    {{#if (eq data.attribute "charisma")}}
	        {{localize "bh2e.fields.labels.attributes.charisma.long"}}
	    {{/if}}
	</div>
	<div>
	    {{#if (eq data.size "normal")}}
	        {{localize "bh2e.weapons.sizes.normal"}}
	    {{else}}
	        {{localize "bh2e.weapons.sizes.large"}}
	    {{/if}}
    </div>
	<div>
		<a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.rollAttack"}}">
			<i class="fas fa-dice-d20 bh2e-roll-attack-icon" data-attribute="{{data.attribute}}" data-kind="{{data.kind}}" data-id="{{_id}}" data-name="{{name}}" data-size="{{data.size}}"></i>
		</a>
		<a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.deleteWeapon"}}">
			<i class="far fa-trash-alt bh2e-delete-item-icon" data-id="{{_id}}"></i>
		</a>
	</div>
</div>