<div class="bh2e-damage-button-container">
    <button class="bh2e-damage-button" data-actor="{{actorId}}" data-critical="{{critical}}" data-formula="{{formula}}" data-id="{{weaponId}}" data-name="{{weapon}}">
        {{localize "bh2e.messages.labels.buttons.rollDamage"}}
    </button>
</div>
